<!DOCTYPE html>
<html>
<head>
	<title>404 Not found</title>
	<link href="resources/reset.css" rel="stylesheet" type="text/css">
	<link href="resources/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>404</h1>
	<h2>We couldn't locate the file or directory you were looking for. Sorry about that.</h2>
</body>
</html>